# Python
__pycache__/
*.pyc
venv/

# Credentials
token.json
client_secret.json
.env

# Solana
solana_daily/publisher.json

# Artifacts (Proof of work for solana hackathon)
artifacts/*
!artifacts/*.sha256
!artifacts/*.sig
!artifacts/*.json
!artifacts/*.txt
